.receivedpage-container {
  display: flex;
  min-width: 100vw;
  background-color: rgb(37, 121, 47);
}

.receivedpage-container .scrollable-content {
  display: flex;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #DE2D1E rgba(77, 77, 77, 0);
  overflow-y: overlay;
  justify-content: center;
  max-height: 90vh;
}

.receivedpage-container .scrollable-content .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 37, 121);
  padding: 0 10px 20px 0;
  align-items: center;
}
