.wfhconfirm-form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    max-height: 100vh;
}

.wfhconfirm-form .wfhconfirm-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.wfhconfirm-grid .row-1{
    padding: 20px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfhconfirm-grid .row-2{
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfhconfirm-grid .row-3{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfhconfirm-grid .row-4{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfhconfirm-grid .row-5{
    padding: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfhconfirm-grid .row-6{
    padding: 60px 0px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
}

.wfhconfirm-form  .wfhconfirm-header {
    text-align: center;
}

.wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
    font-family: 'NotoSansThai';
    font-size: 26px;
    font-weight: 700;
    color: #333333;
}

.wfhconfirm-form .wfhconfirm-group {
    text-align: left;

    label {
        font-family: 'NotoSansThai';
        font-size: 14px;
        color: #333333;
        font-weight: 400;
    }
}

.wfhconfirm-group input,
.wfhconfirm-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #F7F7F7;
    border-radius: 5px;

    font-family: 'NotoSansThai';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.wfhconfirm-group input{
    height: 50px;
}

.wfhconfirm-group textarea{
    height: 195px;
}

.wfhconfirm-group input[readonly],
.wfhconfirm-group textarea[readonly] {
    background-color: #F7F7F7;
    /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
    cursor: not-allowed;
    /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
}

.wfhconfirm-group input[readonly]:focus,
.wfhconfirm-group textarea[readonly]:focus {
    outline: none;
    /* ปิดการแสดงผลการโฟกัส */
}

.wfhconfirm-popup-class {
    border-radius: 15px;
}

.wfhconfirm-title-class {
    font-family: 'NotoSansThai';
    font-size: 32px;
    font-weight: 400;
    color: #545454;
    text-align: center;
}

.wfhconfirm-text-class {
    font-family: 'NotoSansThai';
    font-size: 16px;
    font-weight: 400;
    color: #545454;
    text-align: center;
}

.wfhconfirm-confirmbutton-class {
    width: 83px;
    height: 38px;
    font-family: 'NotoSansThai';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    background-color: #29AE4C;
}

.wfhconfirm-canclebutton-class {
    width: 83px;
    height: 38px;
    font-family: 'NotoSansThai';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    background-color: #CFCFCF;
}

.wfhconfirm-error-canclebutton-class {
    width: 83px;
    height: 38px;
    font-family: 'NotoSansThai';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 5px;
    padding: 0px;
    background-color: #CFCFCF;
}

@media only screen and (max-width:1250px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}

@media only screen and (max-width:810px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}

@media only screen and (max-width:610px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}

@media only screen and (max-width:440px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}

@media only screen and (max-width:420px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}

@media only screen and (max-width:370px){
    .wfhconfirm-form {
        width: 100%;
        height: 100%;
        background-color: #fff;
        max-height: 100vh;
    }
    
    .wfhconfirm-form .wfhconfirm-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .wfhconfirm-grid .row-1{
        padding: 20px 20px 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-2{
        padding: 0px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-3{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-4{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-5{
        padding: 20px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-grid .row-6{
        padding: 60px 20px 0px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header {
        text-align: center;
    }
    
    .wfhconfirm-form  .wfhconfirm-header .wfhconfirm-title {
        font-family: 'NotoSansThai';
        font-size: 26px;
        font-weight: 700;
        color: #333333;
    }
    
    .wfhconfirm-form .wfhconfirm-group {
        text-align: left;
    
        label {
            font-family: 'NotoSansThai';
            font-size: 14px;
            color: #333333;
            font-weight: 400;
        }
    }
    
    .wfhconfirm-group input,
    .wfhconfirm-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #F7F7F7;
        border-radius: 5px;
    
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #000000;
    }
    
    .wfhconfirm-group input{
        height: 50px;
    }
    
    .wfhconfirm-group textarea{
        height: 195px;
    }
    
    .wfhconfirm-group input[readonly],
    .wfhconfirm-group textarea[readonly] {
        background-color: #F7F7F7;
        /* เปลี่ยนสีพื้นหลังเพื่อแสดงว่าเป็นฟิลด์ที่ไม่สามารถแก้ไขได้ */
        cursor: not-allowed;
        /* เปลี่ยนเคอร์เซอร์เป็น not-allowed เมื่อโฮเวอร์ */
    }
    
    .wfhconfirm-group input[readonly]:focus,
    .wfhconfirm-group textarea[readonly]:focus {
        outline: none;
        /* ปิดการแสดงผลการโฟกัส */
    }
    
    .wfhconfirm-popup-class {
        border-radius: 15px;
    }
    
    .wfhconfirm-title-class {
        font-family: 'NotoSansThai';
        font-size: 32px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-text-class {
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #545454;
        text-align: center;
    }
    
    .wfhconfirm-confirmbutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #29AE4C;
    }
    
    .wfhconfirm-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
    
    .wfhconfirm-error-canclebutton-class {
        width: 83px;
        height: 38px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        border-radius: 5px;
        padding: 0px;
        background-color: #CFCFCF;
    }
}