.reward-contrainer {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.reward-contrainer .reward-card {
    width: 95vw;
    height: 90vh;
    background-color: #ffffff;
}

.reward-contrainer .rewardtxt {
    text-align: center;
}

.reward-contrainer .rewardtxt h2 {
    font-size: 26px;
    font-family: 'NotoSansThai';
    font-weight: 700;
    color: black;
    margin: 20px 0 20px 0;
}

.reward-contrainer .image-container {
    text-align: center;
}

.reward-contrainer .image-container img {
    width: 312px;
    height: 312px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.reward-contrainer .reward-content {
    margin-top: 5px;
}

.reward-contrainer .reward-content h3 {
    font-size: 20px;
    font-family: 'NotoSansThai';
    font-weight: 700;
    color: black;
    margin:10px 10px;
}

.reward-contrainer .reward-date {
    font-size: 14px;
    font-family: 'NotoSansThai';
    font-weight: 400;
    color: #333333;
    margin: 0 10px 8px;
}

.reward-contrainer .custom-line {
    border: 0;
    height: 1px;
    background-color: #D9D9D9;
    margin: 10px 0 5px 10px;
    width: 100%;
}

.reward-contrainer .reward-description {
    font-family: 'NotoSansThai';
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    line-height: 1.50;
    margin:10px 10px 20px;
}

.reward-contrainer .reward-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 0 0;
    /*padding: top right bottom left;*/
}

.reward-contrainer .reward-points {
    display: flex;
    align-items: center;
}

.reward-contrainer .reward-points img {
    width: 44px;
    height: 40px;
}

.reward-contrainer .reward-points span:first-child {
    margin-right: 10px;
    /* margin-top: 0px; */
}

.reward-contrainer .current-points {
    font-family: 'NotoSansThai';
    color: #888888;
    font-size: 18px;
    margin-right: 2px;
    margin-top: 3px;
}

.reward-contrainer .reward-points-divider {
    font-family: 'NotoSansThai';
    color: #333333;
    font-size: 24px;
    font-weight: 700;
}

.reward-contrainer .redeem-btn {
    padding: 2px 0 0 5px;
    border: none;
    border-radius: 21px;
    cursor: pointer;
}

/* .reward-contrainer .redeem-btn:hover {
    background-color: #B82418;
}

.reward-contrainer .redeem-btn:active {
    background-color: #fd031c;
}

.reward-contrainer .redeem-btn:disabled {
    background-color: #B8B8B8;
    pointer-events: none;
} */