.membercard-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    justify-content: center;

    min-width: 100%;
    max-height: 100%;
}

.membercard-container .membercard-content {
    margin-top: 20px;
}

.membercard-container .membercard-txt {
    text-align: center;
}

.membercard-container .membercard-txt h1 {
    font-family: 'NotoSansThai';
    font-size: 30px;
    font-weight: 700;
    color: #DE2D1E;
    margin: 20px;
}

.membercard-container .card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
    width: 100%;
    max-width: 375px;
    height: 60px;
    /* ปรับความกว้างให้เหมาะสมกับการ์ด */
    border-radius: 10px;
    border: 1px solid #C1C1C1;
}

.membercard-container .card-buttons button {
    padding: 8px 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    white-space: nowrap;

    font-family: 'NotoSansThai';
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.membercard-container .button-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    /* เพิ่มการเว้นระยะด้านบนและล่าง */
}

.membercard-container .button-wrapper:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 5%;
    /* ปรับตำแหน่งเส้นแบ่ง */
    height: 100%;
    /* ลดความสูงของเส้นแบ่ง */
    width: 2px;
    background-color: #C1C1C1;
}
