.history-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 100%; */
    max-width: 98vw;
    /* max-height: 100vh; */
}

.history-container .history-content {
    width: 100vw;
    height: 21vh;
    display: grid;
    grid-template-rows: 152px 1fr;
    justify-content: center;
    position: absolute;  
    background-color: chocolate;
}

.history-container .top-row {
    display: contents;
}

.history-container .low-row {
   width: 100%;
   margin: 70px 0 0 0;
}

.history-container .history-txt {
    position: absolute;
}

.history-container .history-txt.txthistory {
    font-size: 26px;
    font-family: 'Sukhumvit Set';
    font-weight: 600;
    color: white;
    /* color: rgb(0, 0, 0); */
    top: 10px;
    justify-self: center;
}

/* .history-container .history-txt h3 {
    font-size: 18px;
    font-family: 'Sukhumvit Set';
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: left;
} */

.history-container .bg-img{
    width: 100vw;
    height: 152px;
    object-fit: cover;
}