.product-grid {
    width: 100%;
    min-width: 98vw;
    display: flex;
    /* ใช้ Flexbox */
    gap: 10px;
    /* เว้นระยะห่างระหว่างการ์ด */
    justify-content: flex-start;
    /* จัดให้อยู่ทางซ้าย */
    flex-wrap: wrap;
    /* การ์ดจะเลื่อนไปแถวใหม่หากหน้าจอเล็กเกินไป */
    padding: 10px 0 0 10px;
}