.ranking-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* width: 100%; */
    max-width: 98vw;
    /* max-height: 100vh; */
}

.ranking-container .ranking-content {
    width: 100vw;
    height: 21vh;
    display: grid;
    grid-template-rows: 152px 1fr;
    justify-content: center;
    position: absolute;  
    background-color: chocolate;
}

.ranking-container .top-row {
    display: contents;
}

.ranking-container .low-row {
   width: 100%;
   /* margin: 0px 0 0 0; */
}

.ranking-container .ranking-txt {
    position: absolute;
}

.ranking-container .ranking-txt.txtranking {
    font-size: 26px;
    font-family: 'NotoSansThai';
    font-weight: 700;
    color: #333333;
    top: 20px;
    justify-self: center;
}

.ranking-container .bg-img{
    width: 100vw;
    height: 221px;
    /* object-fit: cover; */
}