.Btn {
    width: 200px;
    height: 36px;
    background-color: #DE2D1E;
    color: #fff;
    padding: 2px 0 0 5px;
    border: none;
    border-radius: 21px;
    font-size: 20px;
    font-family: 'NotoSansThai';
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Btn:hover {
    background-color: #B82418;
}

.Btn:active{
    background-color: #fd031c;
}

.Btn.disabled {
    background-color: #ccc;
    color: #FFFFFF;
    cursor: not-allowed;
}

.Btn:disabled {
    pointer-events: none;
    background-color: #B8B8B8;
}

@media only screen and (max-width:520px){
    .Btn {
        width: 180px;
        height: 36px;
        background-color: #DE2D1E;
        color: #fff;
        padding: 2px 0 0 5px;
        border: none;
        border-radius: 21px;
        font-size: 20px;
        font-family: 'NotoSansThai';
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .Btn:hover {
        background-color: #B82418;
    }
    
    .Btn:active{
        background-color: #fd031c;
    }
    
    .Btn.disabled {
        background-color: #ccc;
        color: #FFFFFF;
        cursor: not-allowed;
    }
    
    .Btn:disabled {
        pointer-events: none;
        background-color: #B8B8B8;
    }
}

@media only screen and (max-width:450px){
    .Btn {
        width: 160px;
        height: 36px;
        background-color: #DE2D1E;
        color: #fff;
        padding: 2px 0 0 5px;
        border: none;
        border-radius: 21px;
        font-size: 20px;
        font-family: 'NotoSansThai';
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .Btn:hover {
        background-color: #B82418;
    }
    
    .Btn:active{
        background-color: #fd031c;
    }
    
    .Btn.disabled {
        background-color: #ccc;
        color: #FFFFFF;
        cursor: not-allowed;
    }
    
    .Btn:disabled {
        pointer-events: none;
        background-color: #B8B8B8;
    }
}

@media only screen and (max-width:360px){
    .Btn {
        width: 140px;
        height: 36px;
        background-color: #DE2D1E;
        color: #fff;
        padding: 2px 0 0 5px;
        border: none;
        border-radius: 21px;
        font-size: 20px;
        font-family: 'NotoSansThai';
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 10px;
    }
    
    .Btn:hover {
        background-color: #B82418;
    }
    
    .Btn:active{
        background-color: #fd031c;
    }
    
    .Btn.disabled {
        background-color: #ccc;
        color: #FFFFFF;
        cursor: not-allowed;
    }
    
    .Btn:disabled {
        pointer-events: none;
        background-color: #B8B8B8;
    }
}