.rankingprogress-container {
    position: relative;
    height: 7px;
    width: 248px;
    border-radius: 10px;
    /* margin: 10px 0 0 65px; */
    background-color: #F5F5F5;
}

.rankingprogress-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* เพิ่มพื้นที่ระหว่าง progress bars */
}

.rankingprogress-filler {
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.2s ease-in;
}

.rankingprogress-name {
    width: 90px;
    text-align: left;
    margin-right: 10px;
    font-family: 'NotoSansThai';
    font-size: 16px;
    color: #444444;
    font-weight: 600;
}

.rankingprogress-indicator img {
    height: 16px;
    width: 18px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in;
}

@media only screen and (max-width:450px){
    .rankingprogress-container {
        position: relative;
        height: 7px;
        width: 248px;
        border-radius: 10px;
        /* margin: 10px 0 0 65px; */
        background-color: #F5F5F5;
    }
    
    .rankingprogress-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 5px; /* เพิ่มพื้นที่ระหว่าง progress bars */
    }
    
    .rankingprogress-filler {
        height: 100%;
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: width 0.2s ease-in;
    }
    
    .rankingprogress-name {
        width: 90px;
        text-align: left;
        margin-right: 5px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        color: #444444;
        font-weight: 600;
    }
    
    .rankingprogress-indicator img {
        height: 16px;
        width: 18px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.2s ease-in;
    }
}

@media only screen and (max-width:430px){
    .rankingprogress-container {
        position: relative;
        height: 7px;
        width: 210px;
        border-radius: 10px;
        /* margin: 10px 0 0 65px; */
        background-color: #F5F5F5;
    }
    
    .rankingprogress-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 5px; /* เพิ่มพื้นที่ระหว่าง progress bars */
    }
    
    .rankingprogress-filler {
        height: 100%;
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: width 0.2s ease-in;
    }
    
    .rankingprogress-name {
        width: 70px;
        text-align: left;
        margin-right: 5px;
        font-family: 'NotoSansThai';
        font-size: 16px;
        color: #444444;
        font-weight: 600;
    }
    
    .rankingprogress-indicator img {
        height: 16px;
        width: 18px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.2s ease-in;
    }
}